<% i = 0 %>
<h1>All Obiiz</h1>
<table>
  <% @obiis.each do |obii| %>
  <% i += 1 %>
   <% if (i == 1) || (i%9 == 0) %>
  	<tr>
	<% end %>
      <td><%= link_to image_for(obii), obii %><br>
      <%= obii.name %></td>
	<% if (i%8 == 0) ||(i%(@obiis.count) == 0) %>
  	</tr>
  	<% end %>
  <% end %>
</table>