<div class='container'>
	<% logo = image_tag("obii_logo.png", :alt => "Obii", :class => "biglogo") %>
	<%= link_to logo, root_path %>
	<div class="sign">
		<h2>Ready to open your bubble?</h2>
		<%= render 'sessions/new' %>
	<% regbutton = button_tag("Or register now!") %>
    <%= link_to regbutton, signup_path, :id => "signup" %>
    </div>
    <div class='nav'>
	<h1> Get out of your Bubble! </h1>
	</div>
</div>