<div class='sidenav'>
    <div class='Bulle'><%= link_to "Your Bubble", user_path(current_user) %></div>
	<div class='Around'><%= link_to "Bubbles Around", users_path %></div>
	<div class='Events'><%= link_to "Moods", moods_path %></div>
	<div class='ObiiList'><%= link_to "Obiiz", obiis_path %></div>
</div>